<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="author" content="{{author.name}}">
    <meta name="description" content="{{meta_description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    
    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{asset "css/style.css"}}" rel="stylesheet">
    <link href="{{asset "css/syntax.css"}}" rel="stylesheet">
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Le theme options -->
    <script type="text/javascript" src="/options.js"></script>
    <script type="text/javascript" src="{{asset "js/siteOptions.js"}}"></script>
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    
    <style id="dbyll-options"></style>

    <script type="text/javascript"> siteOptions.setStyles(); </script>
  </head>
  <body class="{{body_class}}">
    <nav class="navbar navbar-default visible-xs" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" id="mobile-contact-list">
        
        <a class="navbar-brand" href="{{ site.BASE_PATH }}/">
          <img src="{{@blog.logo}}" class="img-circle" style="width: 35px; height: 35px">
          {{@blog.title}}
        </a>
      </div>

    </nav>

    {{# if @blog.cover }}
    <div class="col-sm-3 sidebar hidden-xs cover" style="background: url({{@blog.cover}});">
      {{else}}
      <div class="col-sm-3 sidebar hidden-xs">
        {{/if}}
        <header class="sidebar-header" role="banner">
          <a href="{{@blog.url}}">
            <img src="{{@blog.logo}}" class="img-circle" />
          </a>
          <h3 class="title">
            <a href="{{@blog.url}}/">{{@blog.title}}</a>
          </h3>
        </header>

        <div id="bio" class="text-center">
          {{@blog.description}}
        </div>

        <div id="contact-list" class="text-center">
          <ul class="list-unstyled list-inline" id="contact-list-primary"></ul> <!-- filled with js -->
          <ul id="contact-list-secondary" class="list-unstyled list-inline"> <!-- filled with js -->
            <li>
              <a class="btn btn-default btn-sm" href="{{@blog.url}}/rss">
                <i class="fa fa-rss fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      {{! Everything else gets inserted here }}

      <div class="col-sm-9 col-sm-offset-3">
        {{{body}}}

        <footer class="site-footer">
          <hr/>
          <div class="inner">
            <section class="copyright">
              <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
              with <a href="#">dbyll</a> theme on <a class="icon-ghost" href="http://ghost.org">Ghost</a>.
            </section>
          </div>
        </footer>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
      </div>
      
      <div class="clearfix"></div>

      <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{asset "js/app.js"}}"></script>
      <script type="text/javascript" src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
      <script>
        if(site.analyticsTrackId){
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', site.analyticsTrackId);
          ga('send', 'pageview');
        }
      </script>
    </body>
  </html>
